
/* ================================================================ League Member Info ==================================================================*/



/* Three columns side by side */
.row {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.column {
    float: left;
    width: 30%;
    padding: 16px 8px;
  }
  
  /* Display the columns below each other instead of side by side on small screens */
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  /* Add some shadows to create a card effect */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 100%; /* Make the card take up the entire height of the container */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }

  .card img {
    max-width: 100%;
    flex: 1; /* Allow the image to take up available space */
}
  
  /* Some left and right padding inside the container */
  .container {
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    align-items: bottom;
  }
  
  /* Clear floats */
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }