
/* ================================================================ League Member Info ==================================================================*/

h1 {
  text-align: center;
}

h5 {
  margin-block-start: 0em;
  margin-block-end: 1em;
  color: grey;
}

/* Three columns side by side */
.row {
    display: flex;
    gap: 40px;
}

.column {
    float: left;
    width: 30%;
    padding: 16px 8px;
  }
  
  /* Display the columns below each other instead of side by side on small screens */
  @media screen and (max-width: 800px) {
    .column {
      width: 30%;
    }
  }
  
  /* Add some shadows to create a card effect */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 100%; /* Make the card take up the entire height of the container */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }

  .card img {
    flex: 1; /* Allow the image to take up available space */
    max-height: 50%;
    height: auto; 
    width: auto; 
}

  /* For devices 400px and larger:
  @media only screen and (min-device-width: 400px) {
    body {
      background-image: url('img_flowers.jpg');
    }
  }
   */

  /* Some left and right padding inside the container */
  .container {
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    /* align-items: bottom; */
  }
  
  /* Clear floats */
  /* .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  } */